/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

:root {
  --lighter-gray: #fafafa;
  --light-gray: #f0f0f0;
  --gray: #7d7d7d;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

body {
  position: relative;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
